.collapseButton {
  display: inline-flex;
  align-items: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  max-width: 32px;
  justify-content: center;
  border-radius: var(--full-radius);
  color: var(--foreground);
  background-color: transparent;
  cursor: pointer;
  align-self: start;
  transition:
    background-color 0.2s ease,
    transform 0.2s ease;
}
