/* Hero.module.css */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.title {
  font-size: var(--text-4xl);
  font-weight: 600;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin: 0 20px 0 10px;
}

.btn {
  flex-grow: 1;
  cursor: pointer;
  padding: 12px 12px;
  transition: all 0.2s ease;
}
