.themeSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-1);
  padding: var(--space-3);
  border-radius: var(--full-radius);
}

.themeIcon {
  width: 1rem;
  height: 1rem;
}
